@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quattrocento:wght@400;700&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #2E294E;
}
label, input {
	margin-bottom: 20px;
}

.logo_name {
	font-family: Carter One;
	font-size: 30;
	margin-left: 15px;
	margin-top: 4px;
}

.navLogo{
	background-color: #E4FDE1;
	position: static;
	height: 6%;
	display: flex;
}

.navLogo h1{
	display: inline;
}

.logo{
	display: inline;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 7px;
}

.signup{
	/* flex-direction: column; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 80vh;
	font-family: Carter One;
}

.login{
	/* flex-direction: column; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 80vh;
	font-family: Carter One;
}

label {
	display: inline-block;
	width: 100px;
	text-align: right;
	font-size: 40;
	color: white;
}

button {
	background-color: #D90368;
	border-radius: 40px;
	color: white;
	font-family: Carter One;
	display: block;
	display: inline-block;
	font-size: 16px;
	width: 60%;
	height: 40px;
}

.signup_button {
	text-align: center;
	margin-bottom: 10px
}

.login_button {
	text-align: center;
	margin-bottom: 10px	
}

.warning {
	margin: 10px;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}