body{
	margin: 0;
	padding: 0;
}
label, input {
	margin-bottom: 20px;
}

.navLogo{
	background-color: #E4FDE1;
	position: static;
	height: 6%;
}

.logo{
	display: inline;
	width: 40px;
	height: 40px;
	margin: 0;
}

.navLogo h1{
	display: inline;
}

form{
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}