<div>
    <a href = "../index-user.html" style = "text-decoration: none;">
		<div class="navLogo">
			<img class="logo" src="../../../CSS/logo.png" alt="">
			<div class = "logo_name">
				<h1 style = "color: black;">RATE-EAT-UP</h1>
			</div>
		</div>
	</a>
	
	<div class="navMain">
		<div class = "nav">
			<a href="../index-user.html">Home</a>
		</div>
		<div class = "nav">
			<a href="../userRestoList.html">Restaurants</a>
		</div>	
		<div class = "nav">
			<a href="../user.html">Profile</a>
		</div>	
		<div class = "nav">
			<a href="../../login.html">LogOut</a>
		</div>
	</div>
</div>
