<div class="reply" style="margin-left: 3.5%; margin-top: 0.5%">
    <br>
    <br>
    <p style="border-left: 2px solid black; padding: 0% 0% 0% 2%"></p>
    <button type="button" class="editBtn">Edit</button>
    <button type="button" class="deleteBtn">Delete</button>
</div>