<div class="review">
	<div class="username"><a href=""></a></div>
	<div class="date">June 22, 2023</div>
	<div class="restoName"><a href=""></a></div>
	<hr>
	<div class="revMain"></div>
	<div class="likeDislike">
        <button>Like</button>
        <button>Dislike</button>
	</div>
</div>