<!DOCTYPE html>
<html lang="en">
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="../../CSS/index.css">
	<style>
		body{
			background-color: #FFD400;
		}
	</style>
</head>
<body>
	<a href = "index-user.html" style = "text-decoration: none;">
		<div class="navLogo">
			<img class="logo" src="../../CSS/logo.png" alt="">
			<div class = "logo_name">
				<h1 style = "color: black;">RATE-EAT-UP</h1>
			</div>
		</div>
	</a>
	
	<div class="navMain">
		<div class = "nav">
			<a href="index-user.html">Home</a>
		</div>
		<div class = "nav">
			<a href="userRestoList.html">Restaurants</a>
		</div>				
		<div class = "nav">
			<a href="user.html">Profile</a>
		</div>	
		<div class = "nav">
			<a href="../login.html">LogOut</a>
		</div>
	</div>

	<h1 style = "margin-left: 10px; font-family: Carter One;">Restaurants</h1>
	<div class="restoList">
	</div>
</body>
</html>